{% include "mainheader.html" %}
    <div id="intro">
        <div id="title"><b>EOR</b></div>
        <div id="byline"><i>adrenaline, dopamine, cortisol</i></div>
    	<div class"clear"></div>
    </div>
    <div id="main">
            <div id="blurb">
                    <p class="p1">Elements of Risk is a bit like saying hello to the <b> muddy mountain biker</b> in the pub,
                    if the muddy mountain biker has a sign around his neck saying "I can take you out mountain biking this weekend" and
                    it's also a bit like a local <b> climber </b>having "Sure I'll take you rock climbing" stamped on his or her forehead.
                    Basically it's a couchsurfing.com for <b> adrenaline </b> sports.</p>
                    
                <div class="quote">
                    <b> Adrenaline </b> - a hormone secreted by the adrenal medulla upon stimulation by the central nervous system in response to stress, as anger or fear, and acting to increase heart rate, blood pressure, cardiac output, and carbohydrate metabolism.
                </div>

                    <p class="p2">Backpacking around NZ (with a <b>kayak</b>?!) or hanging out at home hankering after a new adrenaline sport to get your teeth into,
                    use this site to meet people to help you out, show you local spots, even teach you skills to bring you into a new sport. </p>
                
                <div id="signup">
                    <a href="/profiles/register">SIGN UP</a>
                </div>
            </div>








    </div> <!-- ends main div -->
{% include "mainfooter.html" %}