<div id="searchprofilesform" class="clear">
    <div class="quote">
        Search for people or events
    </div> 
    <form action="/profiles/searchprofiles" method="post">{% csrf_token %}

<div class="col1 group">
    <div class="fieldWrapper">
        <label for="id_nickname">{{ form.nickname.label_tag }}</label> <br />
        {{ form.nickname }}
    </div>
    <div class="fieldWrapper">
        <label for="id_dob">{{ form.dob.label_tag }}</label> <br />
        {{ form.dob }}
    </div>
    <div class="fieldWrapper">
        <label for="id_homeCountry">{{ form.homeCountry.label_tag }}</label> <br />
        {{ form.homeCountry }}
    </div>
    <div class="fieldWrapper">
        <label for="id_homeCity">{{ form.homeCity.label_tag }}</label> <br />
        {{ form.homeCity }}
    </div>
</div>

<div class="col2 group">
    <div class="fieldWrapper">
        <label for="id_confirmEmail">{{ form.homeCountry.label_tag }}</label> <br />
        {{ form.homeCountry }}
    </div>
    <div class="fieldWrapper">
        <label for="id_favouriteElement">{{ form.favouriteElement.label_tag }}</label> <br />
        {{ form.favouriteElement }}
    </div>
    <div class="fieldWrapper">
        <label for="id_aboutme">{{ form.aboutme.label_tag }}</label> <br />
        {{ form.aboutme }}
    </div>
    <div class="fieldWrapper">
        <label for="id_lookingfor">{{ form.lookingfor.label_tag }}</label> <br />
        {{ form.lookingfor }}
    </div>
            
</div>

<div class="col3 group">
    <div class="fieldWrapper">
        <input type="submit" value="Submit" />
    </div>
</div>

    </form>
    
</div>