{% include "mainheader.html" %}
<div id="main">

    <div class="quote">
    Thats it! all signed up {{ username }}. Well nearly, you can now comment and post on stories and even request events,
    but you'll find it hard to be taken seriously without filling in the rest of your profile. <br />
    
    Continue to<a href='/profiles/editprofile'> Fill out your profile </a> <br />
    
    or skip straight to searching for <a href='/profiles/search'> people and events </a> <br />
    
    or even just go to your user portal <a href='/index/portal'> user portal </a> <br />
    </div>

</div>

{% include "mainfooter.html" %}